.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#header-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: center;
    margin: 10px;
}

#form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.book-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 10px;
}

.book-card {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid black;
    gap: 10px;
}